#form{
  
     background-color: #b9afff12; 
    border-radius: 7px;
    max-width: 500px;
    min-width: 300px;
    /* margin: 60px auto; */
    color: #ffff;
    padding: 40px;
    box-shadow: inset 0px 0px 19px 5px rgb(0 0 0 / 49%), 7px 9px 14px 0px rgb(0 0 0 / 22%);
    display: flex;
    /* height: 50vh; */
    justify-content: center;
    position: relative;
    flex-direction: column;
    width: 50vw;
}
#main{
    height: 100vh;
}
#form h3{
    color: white;
    text-align: center;
    padding: 20px;

}
label{
    color: #ffff;
    padding:4px;
}
#form button{
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    color: white;
    background-color: rgb(41, 57, 194);
    border: none;
    border-radius: 4px;
    margin-bottom: 20px;
}

.inputBox{
    display: flex;
    flex-direction: column;
}

.inputBox input{
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-size: 12px;
    padding: 10px;
    width: 100%;

}

.inputBox input:focus {
    outline: 0;
}

.inputBox.success input {
    border-color: #09c372;
}

.inputBox.error input {
    border-color: #ff3860;
}

.inputBox .error {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
}

main{
    display: flex;
    flex-direction: row;
    padding: 20px;
    /* height: 100vh; */
    justify-content: center;
  }
  .mailImage{
     
    height: 50vh;
      /*right: 15%;
      top: 50%; */
      display: flex;
      align-items: flex-end;
      justify-content: flex-start;
  }
  .mailImage img{
    border-radius: 30%;
  }

  .FeedbackForm{
      justify-content: center;
      display: flex;
      flex-direction: row;
    width:70%;
    align-items: center;
    margin-left: 15vw;
   
  }
.inputBox span{
    color:  rgb(253, 107, 107);
    font-size: 0.80em;
    font-style: italic;
    }

    @media(max-width: 768px){
       
        .mailImage {
          display: none;
        }
       #form{
            width:500px;
            
        }
        .FeedbackForm{
            margin-left: 0;
        }
    }

    