*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main{
  display: flex;
  flex-direction: row;
  padding: 20px;
}

#app{
justify-content: flex-end;
width:90%;

}

.graduationImage{
  margin-top: 20%;
}

.wrapper{
   
   max-width: 1080px;
   margin: 50px auto;
   padding: 0 20px;
   position: relative;
 }

 .wrapper .center-line{
   position: absolute;
   height: 100%;
   width:4px;
   background: rgb(9, 57, 119);
   left: 50%;
   transform: translateX(-50%);
 }

 .wrapper .row{
   display: flex;
   
 }

 .wrapper .row1{ 
  justify-content: flex-start;
}

.wrapper .row2{ 
  justify-content: flex-end;
}
section{
  color:#574e97;
}

 .wrapper .row section{
   background: #fff;
   border-radius: 5px;
   width: calc(50% - 40px );
   box-shadow: inset 0px 0px 10px 5px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 25%);
   border: 1px rgba(0, 0, 0, 0.25);
   padding: 20px;
 }

 .row section .details{
   display: flex;
   align-items: center;
   justify-content: space-between;
   
 }


 .row section .details .title{
   font-size: 20px;
   font-weight: 700;
   
 }

 .row section p{
   margin: 10px 0 10px 0;
   text-align: center;
   font-size: 2rem;
 }
 @media(max-width: 768px){
  .wrapper .center-line { 
    display: none;
  }
  .graduationImage{
     display: none;
  }
  .wrapper .row{
    margin: 30px 0 3px 10px;
  }
  .wrapper .row section{
    width: 100%;
  }
  @media(max-width: 440px){
    .wrapper .center-line{
      display: none;
    }
    .wrapper .row{
      margin: 10px 0;
    }
  }}
