.partition{
    width:50%;
    float:left;
    padding:20px;
    border:2px; 
    /* border-style:solid; */
   flex:1;
    margin-right:20px;
    height:100vh;
    display:absolute; 
}

.about{
    display:flex;
    flex-direction:row;
}



.partition-Image{
    padding: 25px;
    margin:20px 20px 20px ;
    
    border-radius: 40px;
    position: relative;
    animation-name: slide-in;
    animation-duration: 2s;  
    animation-fill-mode: forwards;
  transform: rotate(8deg);
  
}

@keyframes slide-in
{
    from {left: 0px ;opacity:0; }
    to {left: 100px;}
  }
